/* Utilizamos hack para que 1 rem equivalga a 10px*/
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
}

body{
    font-size: 1.6rem;
    margin: 0;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

/* Contenedor calculadora */

#super-hero{
    display: flex;
    flex-direction: column;
    background-color: #000;
    border-radius: 1rem;
    width: 90%;
    max-width: 35rem;
    height: 49rem;
    margin: 7rem  auto 0 auto;
    padding: 2rem;
    animation-name: show-calculator;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}


/* Animación al contenedor de la calculadora */
@keyframes show-calculator{
    0%{
        opacity: 0;
        transform: translateY(-30rem);
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}

#calculator-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icono-casio{
    width: 10rem;
    object-fit: cover;
}

#contenedor-diseño{
    display: flex;
    width: 10rem;
    height: 3rem;
    border-radius: 4px;
    background-color: rgb(99, 38, 38);
}

.diseño{
   flex: 1;
   border-right: 1px solid #fff;
}

.diseño:last-child{
    border: none;
}
#result{
    width: 100%;
    height: 7rem;
    text-align: end;
    margin-top: 2rem;
    background-color: #44502d;
    border: 1px solid #44502d;
    border-radius:7px;
    padding: 1rem;
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: bold;
   
    
}
#result:focus{
    outline: none;
    
}
#container-buttons{
    margin-top: 2rem;
}




#buttons{
    display: flex;
    gap: 1rem;
    
}


.button{
    flex: 1;
    height: 5rem;
    margin-top: 1rem;
    border-radius: 4px;
    font-size: 20px;
    background-color: #383838;
    color: #fff;
    font-weight: bold;
    /* border: none; */
    

    
}
.button:hover{
    cursor: pointer;
    background-color: #313131;
}

#buttons .symbol{
    background-color: #111;
}
#buttons .symbol:hover{
    background-color: #000000;
}
#buttons #equals{
    background-color: #ff5e00;
}
#buttons #equals:hover{
    background-color: #fc8641;
}
#buttons #delete{
    background-color: rgb(250, 22, 22);
}
#buttons #delete:hover{
    background-color: red;
}